# Xcode
.vscode/*
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/launch.json
*.xcuserdata/
build/
DerivedData/
*.xcworkspace
*.xcuserdata
*.xcuserstate

# macOS
.DS_Store

# C++
*.o
*.out

# Qt / Qt Creator
.qtcreator/
*.pro.user
*.pro.user.*
*.qbs.user
*.qmake.stash
CMakeLists.txt.user
.qtc_clangd/

# CMake local files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile

# Qt docker artifacts
artifacts/qt-client/
**/build-docker/
